<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Gort and Quandale Dingle ???</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <div class="main">
            {% if error %}
            <div class="error">{{ error.message }}</div>
            {% endif %}

            <input
                type="text"
                id="update_password"
                placeholder="Enter the Secret Password!"
            />
            <button onclick="update_bot()">Update Bot</button>
        </div>

        <script>
            function update_bot() {
                let password = document.getElementById('update_password').value
                password = encodeURIComponent(password)
                open(`/update_bot?password=${password}`, '_self')
            }
        </script>
    </body>
</html>
